p{
 font-size:60px; 
}
.class{
    text-align: center;
}
.img{
    height: 300px;
    width:300px;
}
.ib{
  text-align: center;  
}
#myCarousel{
    background-color: crimson;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-top:15px;
    margin-bottom: 15px;
    color: white;
    font-size:20px;   
}
.container{
    text-align: center;
}
body{
    text-align: center;
    background-color: aquamarine;
}
#bod{
    background-color: aquamarine;
}
    